.text404,
.text {
  background: linear-gradient(75deg, rgb(156 163 175) 0%, #fefefe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(156 163 175);
  animation: texts 900ms normal;
  -webkit-animation: texts 900ms normal;
}

.icon-logo {
  background: linear-gradient(75deg, rgb(156 163 175) 0%, #fefefe 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.507);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  animation: logo 900ms normal;
  -webkit-animation: logo 900ms normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-direccion-home {
  background: linear-gradient(135deg, rgb(59 130 246) 0%, rgb(30 64 175) 100%);
  transition: all, 200ms;
  -webkit-transition: all, 200ms;
  -moz-transition: all, 200ms;
  -ms-transition: all, 200ms;
  -o-transition: all, 200ms;
  box-shadow: 0px 0px 15px #3b82f6;
  animation: texts 900ms normal;
  -webkit-animation: texts 900ms normal;
}
.button-direccion-home:hover {
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
}
/* Animaciones */
@keyframes logo {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 100;
  }
}

@keyframes texts {
  0% {
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 100;
  }
}
